<!DOCTYPE html>
<html>

<head>
  <title>旅游网站</title>
  {{!-- 引入资源的方式是什么呢 --}}
  <style>
    body header img {
      width: 50px;
    }
  </style>
</head>

<body>
  <header>
    <img src="/img/logo-mini.png" alt="旅游网站 logo"> 去旅行吧
  </header>
  {{{body}}}
</body>

</html>